@font-face {
  font-family: "didact gothic";
  src: url(/static/DidactGothic-Regular.ttf);
}
/* animations */
@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes turn {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0);
  }
}
@keyframes bigger {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
* {
  font-family: "didact gothic";
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

/* header and navigation styles */
header {
  display: grid;
  grid-template-columns: max-content max-content;
  place-content: space-around;
  align-items: center;
  padding: 15px;
}

#logo {
  font-size: 35px;
}
#logo a {
  color: black;
  text-decoration: none;
  letter-spacing: -1px;
}
#logo #logo_slash {
  width: 0.1em;
  height: 1.3em;
  display: inline-block;
  background-color: #0D9EF2;
  position: relative;
  bottom: -10px;
  rotate: 20deg;
}

nav {
  display: flex;
  align-items: center;
}
nav a {
  padding: 0 20px 0 5px;
  margin: 0 7px;
  color: black;
  text-decoration: none;
  font-size: 25px;
  position: relative;
  overflow: hidden;
}
nav a::after {
  content: "";
  position: absolute;
  height: 5px;
  width: 100%;
  background-color: #0D9EF2;
  left: -100%;
  bottom: 0;
  transition: left 0.5s;
  z-index: -1;
}
nav a:hover:after {
  left: 0;
}
nav a:active:after {
  left: 0;
}

/* hero section */
#hero, section {
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  flex-direction: column;
  text-align: left;
  margin-bottom: 50px;
  align-items: flex-start;
  min-height: 48vh;
}

#hero {
  align-items: center;
  height: 90vh;
  overflow: hidden;
  position: relative;
  flex-direction: row;
}

#hero:after {
  content: "";
  background-color: #0D9EF2;
  width: 110%;
  height: 100%;
  position: absolute;
  z-index: -1;
  rotate: -60deg;
  right: -70%;
  animation: bigger 0.5s 0.5s both;
}

#hero > div {
  margin-bottom: 80px;
}

#about_me {
  align-items: flex-start;
  min-height: 100vh;
}

h1 {
  font-size: 4em;
  letter-spacing: -0.8px;
  margin: 0;
}

h2 {
  margin: 0px;
  font-size: 2.8em;
}

h3 {
  margin: 0px;
  font-size: 2em;
}

.second-heading {
  font-size: 2em;
}

.bigger {
  font-size: 1.5em;
}

.blue-border {
  position: relative;
}
.blue-border img {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
  filter: brightness(1.5);
}

.blue-border:after {
  content: "";
  position: absolute;
  padding: 0;
  top: -35px;
  left: -35px;
  width: 100%;
  height: 100%;
  border: 5px #0D9EF2 solid;
  z-index: -1;
  animation: bigger 0.5s both;
}

.section-text {
  margin-right: 40px;
}

.section-photo {
  width: 30em;
}

.section-photo img {
  animation: fade_in 0.6s 0.5s both;
}

.custom_underline {
  position: relative;
  display: inline-block;
}

.custom_underline::after {
  content: "";
  position: absolute;
  height: 0.14em;
  width: 110%;
  max-width: 10em;
  background-color: #0D9EF2;
  z-index: -1;
  bottom: 0.17em;
  left: 0;
}

h3::after {
  opacity: 0.7;
}

.btn {
  color: black;
  font-size: 1.5em;
  background-color: #0D9EF2;
  padding: 6px 15px;
  width: -moz-fit-content;
  width: fit-content;
  display: grid;
  place-content: center;
  position: relative;
  overflow: hidden;
}
.btn::after {
  content: "check it";
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  position: absolute;
  bottom: 0;
  color: #0D9EF2;
  font-weight: 600;
  background: black;
  transform: translateX(-100%) translateY(100%);
  transition: transform 1s;
}
.btn:hover:after {
  transform: translateX(0) translateY(0);
}

.socials {
  display: grid;
  grid-template-columns: 1fr min-content min-content;
}

.social_icon {
  width: 40px;
  margin: 5px;
}
.social_icon path {
  fill: black;
  transition: fill 0.5s;
}

.social_icon:hover path {
  fill: #0D9EF2;
}

#chart-container {
  display: grid;
  place-content: center;
}
#chart-container span {
  width: 35vw;
}

.hidden {
  opacity: 0;
}

.visible_anim {
  animation: bigger 0.8s both;
}

@keyframes cursor {
  50% {
    opacity: 0;
  }
}
.text_animation_testimonials {
  position: relative;
  min-width: 3px;
}

.text_animation_testimonials::after {
  content: "";
  width: 2px;
  height: 1em;
  background-color: black;
  position: absolute;
  right: 0;
  bottom: 0;
  animation: cursor 0.4s infinite both;
}

/* testimonial */
.testimonials {
  align-self: center;
}

.testimonial {
  width: 50%;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 30px 0;
}
.testimonial .blue-border {
  width: 95px;
  height: 95px;
}
.testimonial .blue-border::after {
  border-radius: 50%;
  top: -18px;
  left: -18px;
}
.testimonial .blue-border .testimonial__photo {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  filter: none;
}
.testimonial__full_name {
  font-size: 1.5em;
  margin-bottom: 0;
}
.testimonial__company {
  margin: 5px 0;
  color: rgb(52, 52, 52);
  font-size: 1.2em;
}
.testimonial__text {
  font-size: 1.3em;
}

.skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 80%;
  align-self: center;
  text-align: center;
}

.skill {
  font-size: 1.5em;
  display: grid;
  align-items: center;
  width: 100%;
  height: 8em;
  margin: 0;
  position: relative;
  transition: all 1s;
}
.skill img {
  filter: grayscale(1);
  width: 30%;
  height: 75%;
  position: absolute;
  z-index: -1;
  left: 35%;
  opacity: 0.22;
  transition: all 1s;
}
.skill:hover img {
  transform: scale(1.3);
  filter: grayscale(0);
  z-index: 0;
  opacity: 1;
}
.skill:hover {
  color: transparent;
}

.projects {
  align-self: center;
  display: grid;
  place-content: center;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  min-width: 500px;
  max-width: 90%;
  margin: 3em 0;
  font-size: 1.2em;
}
.projects .project {
  width: 100%;
  transition: all 0.6s;
  min-width: 370px;
}
.projects .project:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px -7px black;
}
.projects .project img {
  width: 100%;
  height: 70%;
}
.projects .project__description {
  background-color: #F0F0F0;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  height: 20%;
}
.projects .project__description p {
  margin: 0;
}
.projects .project__description::after {
  content: "";
  position: absolute;
  display: block;
  width: 2px;
  height: 160px;
  background-color: #0D9EF2;
  left: 45%;
  top: -20px;
  transform: rotate(20deg);
}
.projects .project__description_technologies {
  min-width: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.projects .project__description_technologies img {
  height: 40px;
  width: 40px;
}
.projects .project a {
  color: #0D9EF2;
  font-size: 0.8em;
}

#blog_page {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  justify-content: space-around;
  padding: 0 100px;
}

.posts {
  width: -moz-max-content;
  width: max-content;
  justify-self: flex-end;
  margin-bottom: 30px;
}

.post {
  margin: 20px;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 600px;
  border: 1px solid rgba(52, 52, 52, 0.1);
  border-radius: 10px;
  justify-self: flex-end;
}
.post__image {
  max-height: 400px;
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.post__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.post__description-tags {
  display: flex;
}
.post__description-tags p {
  border: 1px solid #0D9EF2;
  border-radius: 10px;
  padding: 8px;
}
.post__description div {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
}
.post__short-text, .post h2 {
  padding: 10px;
}

.pagination {
  width: -moz-fit-content;
  width: fit-content;
  justify-self: center;
}
.pagination__btn {
  padding: 8px;
  border-radius: 10px;
  background-color: #F9F9F9;
  border: 1px solid rgba(52, 52, 52, 0.1);
  font-size: 1.1em;
  margin: 5px;
  min-width: 80px;
}
.pagination__btn:hover {
  background-color: #0D9EF2;
}
.pagination .num {
  min-width: 40px;
}

.categories {
  width: 50%;
  height: -moz-min-content;
  height: min-content;
  display: flex;
  margin: 20px;
  gap: 10px 30px;
  flex-wrap: wrap;
  align-items: flex-start;
}
.categories h3 {
  width: 100%;
}
.categories, .categories .category {
  border: 1px solid #0D9EF2;
  border-radius: 10px;
  padding: 8px;
}
.categories {
  border: 1px solid rgba(52, 52, 52, 0.1);
}

footer {
  border-bottom: 5px solid #0D9EF2;
  border-top: 5px solid #0D9EF2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 30vh;
  font-size: 1.3em;
  padding: 20px;
  position: relative;
  overflow: hidden;
}
footer .contact {
  text-align: center;
  height: 5em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
footer .contact a {
  line-height: 1.2em;
}
footer::after {
  content: "";
}/*# sourceMappingURL=style.css.map */